/* main { */
  /* display: flex; */
/* } */

.content-kv-rightmargin-wrap {
  width: 100%;
}

/* 介绍1 */
.about-content-wrap {
  width: 100%;
  max-width: 820px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: 120px auto 100px auto;
  display: flex;
}

.about-content-wrap .about-title {
  width: 260px;
  margin-top: 4px;
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.about-content-wrap .txt {
  width: calc(100% - 320px);
  font-size: 15px;
  line-height: 220%;
}
/* 轮播图 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.about-swiper-wrap .about-swiper-inner .swiper-button-next {
  right: 15px;
  background: url(../about/img/about-btn-next.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
  transition: 0.4s;
}
.about-swiper-wrap .about-swiper-inner .swiper-button-prev {
  left: 15px;
  background: url(../about/img/about-btn-prev.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
  transition: 0.4s;
}

/* 最后图 */
.content-kv-rightmargin-wrap.is-about-content__last {
  margin-bottom: 270px;
}

@media screen and (max-width: 678px) {
  .content-kv-rightmargin-wrap.is-about-kv {
    margin-top: calc(140px * -1);
    margin-bottom: 0px;
  }

  .content-kv-rightmargin-wrap {
    width: 100%;
  }

  .content-kv-rightmargin-wrap.is-about-kv .content-kv-rightmargin-inner {
    height: auto;
  }

  .content-kv-rightmargin-wrap .content-kv-rightmargin-inner {
    width: 100%;
    height: 133.3333333vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sp {
    display: block;
  }

  img.sp {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  /* 介绍1 */
  .content-body {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .content-body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  .about-content-wrap {
    margin: 90px auto 80px auto;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-content-wrap .about-title {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
  }

  .about-content-wrap .txt {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (min-width: 678px) {
  .content-kv-rightmargin-wrap .content-kv-rightmargin-inner {
    width: calc(100% - 50px);
  }

  .content-kv-rightmargin-wrap .content-kv-rightmargin-inner {
    width: calc(100% - 120px);
  }

  .tb-pc {
    display: block;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }


  /* 介绍1 */
  .content-body {
    padding: 0 50px;
    box-sizing: border-box;
  }

  .content-body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }
}