main {
  flex: 1 !important;
}

.content-centerd-wrap {
  width: 100%;
  margin-bottom: 270px;
}

.content-centered-title-wrap {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.content-centered-title-wrap .content-centered-title {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  margin-top: 110px;
  margin-bottom: 50px;
}

.content-centered-inner {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.about-list-wrap dl.about-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Libre Baskerville', serif;
}

.about-list-wrap dl.about-list dt {
  width: 140px;
}

.about-list-wrap dl.about-list dt,
.about-list-wrap dl.about-list dd {
  padding: 22px 30px;
  font-size: 12px;
  line-height: 180%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.about-list-wrap dl.about-list dd {
  width: calc(100% - 260px);
}

.about-list-wrap dl.about-list dt,
.about-list-wrap dl.about-list dd {
  padding: 22px 30px;
  font-size: 16px;
  line-height: 180%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 678px) {
  .content-centerd-wrap {
    padding: 0 20px;
    margin-bottom: 120px;
    box-sizing: border-box;
  }

  .content-centerd-wrap {
    width: 100%;
  }

  .content-centered-title-wrap {
    text-align: center;
  }

  .content-centered-title-wrap {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }

  .content-centered-title-wrap .content-centered-title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
    margin-bottom: 80px;
    line-height: 160%;
  }

  .about-list-wrap dl.about-list {
    width: 320px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-list-wrap dl.about-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .about-list-wrap dl.about-list dt,
  .about-list-wrap dl.about-list dd {
    font-size: 16px;
    padding: 12px 0px 0px 0px;
    border-bottom: none;
    line-height: 180%;
  }

  .about-list-wrap dl.about-list dt {
    width: 70px;
  }

  .about-list-wrap dl.about-list dd {
    width: calc(100% - 90px);
  }
}

@media screen and (min-width: 678px) {
  footer {
    width: 100%;
    position: fixed;
    bottom: 0
  }
}