* {
  box-sizing: border-box;
}

main {
  display: flex !important;
}

.content-centerd-wrap {
  width: 100%;
  margin-bottom: 270px;
}

.content-centered-title-wrap {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.content-centered-title-wrap .content-centered-title {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  margin-top: 110px;
  margin-bottom: 50px;
}

.content-centered-inner {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

.contact-form-wrap form {
  position: relative;
}

.contact-form-wrap .form-element {
  position: relative;
}

.contact-form-wrap .form-element .wpcf7-form-control-wrap {
  position: relative;
  display: block;
}

.contact-form-wrap form input[type="text"],
.contact-form-wrap form input[type="email"] {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-form-wrap form input,
.contact-form-wrap form textarea {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 30px;
  font-size: 16px;
  line-height: 180%;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

.contact-form-wrap form textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 300px;
}

.contact-form-wrap form input,
.contact-form-wrap form textarea {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 30px;
  font-size: 16px;
  line-height: 180%;
}

.contact-form-wrap form input[type="submit"] {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #fff;
}

@media screen and (max-width: 678px) {
  .content-centerd-wrap {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 120px;
  }

  .content-centered-title-wrap {
    text-align: center;
  }

  .content-centered-title-wrap .content-centered-title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
    margin-bottom: 80px;
    line-height: 160%;
  }

  .content-centered-inner {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }

  .contact-form-wrap form input,
  .contact-form-wrap form textarea {
    padding: 12px 20px;
  }

  input[type="submit"] {
    max-width: 120px;
    padding: 14px 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    background: black;
  }
}

@media screen and (min-width: 678px) {
  .contact-form-wrap form input[type="submit"] {
    max-width: 200px;
    padding: 26px 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
    background: #000;
    transition: 0.4s;
  }
}